/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* MY CODE */
body{
    background: #f3f3f3;
}
div.company-header{
    background: #fff;
    height: 120px;
    width:100% !important;
}
div.company-head{
    margin-top:30px;
    margin-left:10px;
    height: fit-content;
    border-bottom: 4px solid #F3F3FD;
}
span.company-icon{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background:  #f3f4f5;
    float: left;
    margin-right:15px;
}
img.company-pic{
    margin-top:5px;
    margin-left:5px;
}
@media screen and (min-width:1000px){
    span.company-icon{
        width:50px;
        height: 50px;
    }
}
h3{
    line-height: 60px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900 !important;
    font-size:32px;
}
@media screen and (min-width:1000px){
    div.company-head{
        border-bottom: 1px solid #F3F3FD;
    }
}
ul li{
    display:block;
    float:left;
    margin-top:5px;
    margin-left:20px;
}
ul li a:hover{
   background:#555;
   color:#fff;
}

div.company-name{
    border-bottom: 2px solid #f3f3f5;
}
div.company-gallery{
    height: 400px;
}
div.company-photo{
    background: url(/asset/we-1.jpeg);
    height: 420px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: inherit;
}
* {box-sizing:border-box}

/* Slideshow container */

.mySlides img{
    height: 420px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin:0 auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
div.mySlides span{
    position: absolute;
    top: 100px;
    left: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant Unicase', serif;
    font-size: 32px;
    line-height: 50px;
    text-shadow: 1px 1px #fcf8e3;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #3337aae6;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:#fff;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 60s;
  animation-name: fade;
  animation-duration: 60s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
div.short-description{
    height:calc(100vh - 600px);
}
@media screen and (min-width:1000px){
    div.short-description{
        height:150px;
    }
}
div.welcome{
    background: url('/asset/workers.jpg');
    background-size:cover;
    height: 300px;
    background-repeat: no-repeat;
}
div.us{
    text-align: center;  
}
div.details{
    text-align: left;
    font-family: 'Siliguri','sans-serif';
    line-height: 25px;
    font-weight: 700;
}
div.description{
    background:#fff;
    height:fit-content;
}
@media screen and (min-width:1000px){
    div.description{
        height:300px;
    }
}
div.who-we-are{
    margin:10px;
    text-transform: uppercase;
    font-family: 'Cormorant Unicase', serif;
}
span.details{
    line-height: 35px;
    font-family: 'Anaheim', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-align: justify;
}

